@use "../helpers" as *;

.section {
  display: grid;
  row-gap: fluid(80, 40);
  padding-block: fluid(70, 30);

  &__header {
    display: flex;
    align-items: center;
    gap: px-to-rem(40);

    &--filter{
      justify-content: space-between;
    }

    @include laptop{
      flex-direction: column;
    }

    @include mobile{
      flex-direction: row;
    }
  }

  &__title {
    padding-inline: px-to-rem(7);
    background-color: var(--main-color);
    border-radius: px-to-rem(8);
  }

  &__description {
    @include fluid-text(22, 18);
  }
}