@font-face {
  font-family: 'Heebo';
  src: url('../Heebo-VariableFont.ttf') format('truetype-variations'), url('../Heebo-VariableFont.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}